.navbar{
    background-color: rgba(240, 247, 240, 0.36);
}

.navbody{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li:not(:last-child){
    margin-right: 4rem
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: rgb(255, 255, 255);
}